<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-XOSI.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-PS2K.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-GPRW.aml</string>
			</dict>
			<dict>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-PNLF.aml</string>
			</dict>
		</array>
		<key>Delete</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Delete xh_rvp10</string>
				<key>Enabled</key>
				<true/>
				<key>OemTableId</key>
				<data>eGhfcnZwMTA=</data>
				<key>TableSignature</key>
				<data>U1NEVA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Drop DMAR</string>
				<key>Enabled</key>
				<true/>
				<key>TableSignature</key>
				<data>RE1BUg==</data>
			</dict>
		</array>
		<key>Patch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>change HDAS to HDEF</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>SERBUw==</data>
				<key>Replace</key>
				<data>SERFRg==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change GFX0 to IGPU</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>R0ZYMA==</data>
				<key>Replace</key>
				<data>SUdQVQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change EC0 to EC</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>RUMwXw==</data>
				<key>Replace</key>
				<data>RUNfXw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change HECI to IMEI</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>SEVDSQ==</data>
				<key>Replace</key>
				<data>SU1FSQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change _OSI to XOSI</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>X09TSQ==</data>
				<key>Replace</key>
				<data>WE9TSQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change _Q11 to XQ11</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>X1ExMQ==</data>
				<key>Replace</key>
				<data>WFExMQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change _Q12 to XQ12</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>X1ExMg==</data>
				<key>Replace</key>
				<data>WFExMg==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change Method(GPRW,2,N) to XPRW, pair with SSDT-GPRW.aml</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>R1BSVwI=</data>
				<key>Replace</key>
				<data>WFBSVwI=</data>
			</dict>
		</array>
		<key>Quirks</key>
		<dict>
			<key>ResetLogoStatus</key>
			<true/>
		</dict>
	</dict>
	<key>Booter</key>
	<dict>
		<key>Quirks</key>
		<dict>
			<key>AvoidRuntimeDefrag</key>
			<true/>
			<key>EnableSafeModeSlide</key>
			<true/>
			<key>EnableWriteUnprotector</key>
			<true/>
			<key>ProvideCustomSlide</key>
			<true/>
			<key>ProvideMaxSlide</key>
			<integer>0</integer>
			<key>SetupVirtualMap</key>
			<true/>
			<key>SyncRuntimePermissions</key>
			<true/>
		</dict>
	</dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>AADAhw==</data>
				<key>device-id</key>
				<data>FlkAAA==</data>
				<key>hda-gfx</key>
				<string>onboard-1</string>
			</dict>
			<key>PciRoot(0)/Pci(0x1c,0x05)/Pci(0,0)</key>
			<dict>
				<key>compatible</key>
				<string>pci14e4,4353</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>layout-id</key>
				<integer>15</integer>
			</dict>
		</dict>
	</dict>
	<key>Kernel</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>Lilu.kext</string>
				<key>Comment</key>
				<string>Patch engine</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/Lilu</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>10.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>VirtualSMC.kext</string>
				<key>Comment</key>
				<string>SMC emulator</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VirtualSMC</string>
				<key>MinKernel</key>
				<string>10.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>SMCBatteryManager.kext</string>
				<key>Comment</key>
				<string>SMC battery</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCBatteryManager</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>10.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>SMCProcessor.kext</string>
				<key>Comment</key>
				<string>SMC prosessor</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCProcessor</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>11.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>WhateverGreen.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/WhateverGreen</string>
				<key>MinKernel</key>
				<string>12.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>AirportBrcmFixup.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AirportBrcmFixup</string>
				<key>MinKernel</key>
				<string>12.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>NVMeFix.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/NVMeFix</string>
				<key>MinKernel</key>
				<string>12.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>AppleALC.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AppleALC</string>
				<key>MinKernel</key>
				<string>12.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>VoodooI2C.kext/Contents/PlugIns/VoodooI2CServices.kext</string>
				<key>Comment</key>
				<string>I2C trackpad logging</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooI2CServices</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>16.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>VoodooI2C.kext/Contents/PlugIns/VoodooGPIO.kext</string>
				<key>Comment</key>
				<string>I2C trackpad GPIO controller</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooGPIO</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>16.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>VoodooI2C.kext</string>
				<key>Comment</key>
				<string>I2C trackpad</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooI2C</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>16.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>VoodooI2CHID.kext</string>
				<key>Comment</key>
				<string>I2C trackpad satellite</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooI2CHID</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>16.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>VoodooI2C.kext/Contents/PlugIns/VoodooInput.kext</string>
				<key>Comment</key>
				<string>Multitouch engine</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooInput</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>15.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext</string>
				<key>Comment</key>
				<string>PS2 controller</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooPS2Controller</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>15.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext/Contents/PlugIns/VoodooPS2Keyboard.kext</string>
				<key>Comment</key>
				<string>PS2 keyboard</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooPS2Keyboard</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>15.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
		</array>
		<key>Force</key>
		<array>
			<dict>
				<key>Arch</key>
				<string>Any</string>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers</string>
				<key>Enabled</key>
				<true/>
				<key>Identifier</key>
				<string>com.apple.driver.AppleIntelLpssI2CController</string>
			</dict>
		</array>
		<key>Force</key>
		<array>
			<dict>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>System/Library/Extensions/IOGraphicsFamily.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/IOGraphicsFamily</string>
				<key>Identifier</key>
				<string>com.apple.iokit.IOGraphicsFamily</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
		</array>
		<key>Patch</key>
		<array>
			<dict>
				<key>Arch</key>
				<string>Any</string>
				<key>Base</key>
				<string>__ZN8AppleRTC18setupDateTimeAlarmEPK11RTCDateTime</string>
				<key>Comment</key>
				<string>Disable RTC wake scheduling</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<false/>
				<key>Find</key>
				<data></data>
				<key>Identifier</key>
				<string>com.apple.driver.AppleRTC</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>19.0.0</string>
				<key>Replace</key>
				<data>ww==</data>
			</dict>
			<dict>
				<key>Arch</key>
				<string>Any</string>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Enabled</key>
				<false/>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Identifier</key>
				<string>com.apple.driver.IOAHCIBlockStorage</string>
				<key>MinKernel</key>
				<string>19.0.0</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
			</dict>
		</array>
		<key>Quirks</key>
		<dict>
			<key>AppleXcpmCfgLock</key>
			<true/>
			<key>DisableIoMapper</key>
			<true/>
			<key>DisableLinkeditJettison</key>
			<true/>
			<key>DisableRtcChecksum</key>
			<true/>
			<key>PanicNoKextDump</key>
			<true/>
			<key>PowerTimeoutKernelPanic</key>
			<true/>
			<key>SetApfsTrimTimeout</key>
			<integer>-1</integer>
			<key>ThirdPartyDrives</key>
			<true/>
		</dict>
		<key>Scheme</key>
		<dict>
			<key>FuzzyMatch</key>
			<true/>
			<key>KernelArch</key>
			<string>x86_64</string>
			<key>KernelCache</key>
			<string>Auto</string>
		</dict>
	</dict>
	<key>Misc</key>
	<dict>
		<key>BlessOverride</key>
		<array/>
		<key>Boot</key>
		<dict>
			<key>ConsoleAttributes</key>
			<integer>0</integer>
			<key>HibernateMode</key>
			<string>Auto</string>
			<key>HideAuxiliary</key>
			<true/>
			<key>LauncherOption</key>
			<string>Full</string>
			<key>LauncherPath</key>
			<string>Default</string>
			<key>PickerAttributes</key>
			<integer>17</integer>
			<key>PickerAudioAssist</key>
			<false/>
			<key>PickerMode</key>
			<string>Builtin</string>
			<key>PickerVariant</key>
			<string>Auto</string>
			<key>PollAppleHotKeys</key>
			<true/>
			<key>ShowPicker</key>
			<true/>
			<key>TakeoffDelay</key>
			<integer>0</integer>
			<key>Timeout</key>
			<integer>5</integer>
		</dict>
		<key>Debug</key>
		<dict>
			<key>DisplayDelay</key>
			<integer>0</integer>
			<key>DisplayLevel</key>
			<integer>2147483650</integer>
			<key>Target</key>
			<integer>0</integer>
		</dict>
		<key>Entries</key>
		<array/>
		<key>Security</key>
		<dict>
			<key>AllowNvramReset</key>
			<true/>
			<key>AllowSetDefault</key>
			<false/>
			<key>ApECID</key>
			<integer>0</integer>
			<key>AuthRestart</key>
			<true/>
			<key>BlacklistAppleUpdate</key>
			<true/>
			<key>DmgLoading</key>
			<string>Any</string>
			<key>EnablePassword</key>
			<false/>
			<key>ExposeSensitiveData</key>
			<integer>6</integer>
			<key>HaltLevel</key>
			<integer>2147483648</integer>
			<key>PasswordHash</key>
			<data></data>
			<key>PasswordSalt</key>
			<data></data>
			<key>ScanPolicy</key>
			<integer>0</integer>
			<key>SecureBootModel</key>
			<string>Disabled</string>
			<key>Vault</key>
			<string>Optional</string>
		</dict>
	</dict>
	<key>NVRAM</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<dict>
				<key>StartupMute</key>
				<data>AQ==</data>
				<key>boot-args</key>
				<string>nv_disable=1 -cdfon -disablegfxfirmware</string>
				<key>csr-active-config</key>
				<data>AAAAAA==</data>
				<key>prev-lang:kbd</key>
				<data>emgtQ046MA==</data>
				<key>run-efi-updater</key>
				<string>No</string>
			</dict>
		</dict>
		<key>Delete</key>
		<dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<array>
				<string>boot-args</string>
				<string>csr-active-config</string>
			</array>
		</dict>
		<key>WriteFlash</key>
		<true/>
	</dict>
	<key>PlatformInfo</key>
	<dict>
		<key>Automatic</key>
		<true/>
		<key>CustomMemory</key>
		<false/>
		<key>Generic</key>
		<dict>
			<key>SystemProductName</key>
			<string>MacBookPro14,1</string>
		</dict>
		<key>UpdateDataHub</key>
		<true/>
		<key>UpdateNVRAM</key>
		<true/>
		<key>UpdateSMBIOS</key>
		<true/>
		<key>UpdateSMBIOSMode</key>
		<string>Custom</string>
		<key>UseRawUuidEncoding</key>
		<false/>
	</dict>
	<key>UEFI</key>
	<dict>
		<key>APFS</key>
		<dict>
			<key>EnableJumpstart</key>
			<true/>
			<key>GlobalConnect</key>
			<false/>
			<key>HideVerbose</key>
			<true/>
			<key>JumpstartHotPlug</key>
			<true/>
			<key>MinDate</key>
			<integer>-1</integer>
			<key>MinVersion</key>
			<integer>-1</integer>
		</dict>
		<key>Audio</key>
		<dict>
			<key>AudioCodec</key>
			<integer>0</integer>
			<key>AudioDevice</key>
			<string>PciRoot(0x0)/Pci(0x1f,0x3)</string>
			<key>AudioOut</key>
			<integer>0</integer>
			<key>AudioSupport</key>
			<false/>
			<key>MinimumVolume</key>
			<integer>20</integer>
			<key>PlayChime</key>
			<string>Auto</string>
			<key>SetupDelay</key>
			<integer>0</integer>
			<key>VolumeAmplifier</key>
			<integer>128</integer>
		</dict>
		<key>ConnectDrivers</key>
		<true/>
		<key>Drivers</key>
		<array>
			<string>OpenHfsPlus.efi</string>
			<string>OpenRuntime.efi</string>
			<string>OpenCanopy.efi</string>
		</array>
		<key>Input</key>
		<dict>
			<key>KeyFiltering</key>
			<false/>
			<key>KeyForgetThreshold</key>
			<integer>5</integer>
			<key>KeyMergeThreshold</key>
			<integer>2</integer>
			<key>KeySupport</key>
			<true/>
			<key>KeySupportMode</key>
			<string>Auto</string>
			<key>KeySwap</key>
			<false/>
			<key>PointerSupport</key>
			<false/>
			<key>PointerSupportMode</key>
			<string>ASUS</string>
			<key>TimerResolution</key>
			<integer>50000</integer>
		</dict>
		<key>Output</key>
		<dict>
			<key>ProvideConsoleGop</key>
			<true/>
			<key>Resolution</key>
			<string>Max</string>
			<key>TextRenderer</key>
			<string>BuiltinGraphics</string>
		</dict>
		<key>ProtocolOverrides</key>
		<dict>
			<key>AppleSmcIo</key>
			<true/>
			<key>FirmwareVolume</key>
			<true/>
		</dict>
		<key>Quirks</key>
		<dict>
			<key>ExitBootServicesDelay</key>
			<integer>0</integer>
			<key>ReleaseUsbOwnership</key>
			<true/>
			<key>RequestBootVarRouting</key>
			<true/>
			<key>TscSyncTimeout</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
