<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>FixHDA</key>
				<true/>
				<key>FixHPET</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixHeaders</key>
				<true/>
				<key>FixRegions</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change EC0 to EC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUMwXw==
					</data>
					<key>Replace</key>
					<data>
					RUNfXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GPRW,2,N) to XPRW, pair with SSDT-GPRW.aml</string>
					<key>Find</key>
					<data>
					R1BSVwI=
					</data>
					<key>Replace</key>
					<data>
					WFBSVwI=
					</data>
				</dict>
			</array>
		</dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
				<key>PluginType</key>
				<true/>
			</dict>
		</dict>
		<key>SortedOrder</key>
		<array>
			<string>SSDT-XOSI.aml</string>
			<string>SSDT-PS2K.aml</string>
			<string>SSDT-PNLF.aml</string>
			<string>SSDT-GPRW.aml</string>
		</array>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>nv_disable=1 -cdfon -disablegfxfirmware</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>HibernationFixup</key>
		<true/>
		<key>NoEarlyProgress</key>
		<true/>
		<key>RtcHibernateAware</key>
		<false/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>4</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>No</string>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>AADAhw==</data>
				<key>device-id</key>
				<data>FlkAAA==</data>
				<key>hda-gfx</key>
				<string>onboard-1</string>
			</dict>
			<key>PciRoot(0)/Pci(0x1c,0x05)/Pci(0,0)</key>
			<dict>
				<key>compatible</key>
				<string>pci14e4,4353</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>layout-id</key>
				<integer>15</integer>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>HighCurrent</key>
			<false/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>BOOTX64.EFI</string>
			<string>Windows_OS</string>
			<string>Preboot</string>
			<string>#Recovery</string>
		</array>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Tool</key>
			<false/>
		</dict>
		<key>Theme</key>
		<string>minimalism</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>DisableIoMapper</key>
		<true/>
		<key>DisableLinkeditJettison</key>
		<true/>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>ProvideCustomSlide</key>
		<true/>
		<key>RebuildAppleMemoryMap</key>
		<false/>
		<key>SetupVirtualMap</key>
		<true/>
		<key>SyncRuntimePermissions</key>
		<true/>
		<key>ThirdPartyDrives</key>
		<true/>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
